<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Customer_Password::resetpassword" title="Update Customer Password" module="Customer_Password" sortOrder="300" parent="Magento_Customer::customer" action="changepassword/password" resource="Customer_Password::resetpassword"/>
    </menu>
</config>
